.elementor-2217 .elementor-element.elementor-element-1062689e .elementor-toggle .elementor-tab-title{
    border-width:0px;
    color:#cccccc;
    font-size:14px;
    padding:6px 6px 6px 6px;
}
.elementor-2217 .elementor-element.elementor-element-1062689e .elementor-toggle .elementor-tab-content{
    border-width:0px;
}
.elementor-2217 .elementor-element.elementor-element-1062689e .elementor-toggle .elementor-toggle-item:not(:last-child){
    margin-bottom:0px;
}
.elementor-2217 .elementor-element.elementor-element-1062689e .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-left{
    margin-right:7px;
}
.elementor-2217 .elementor-element.elementor-element-1062689e .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-right{
    margin-left:7px;
}
